<%= @article.title %>
<%= @article.content %>

<form action="patch '/articles/:id'" mathod="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH"></input>
<input type="submit" id="submit" name="Submit"></input>
</form>
