
<form action="patch '/articles/:id'" method="POST">

Title: <input type="text" name="title" 
<input id="hidden" type="hidden" name="_method" value="PATCH"></input>

<input type="submit" id="submit" name="Submit"></input>
</form>
